1
<!DOCTYPE html>
<html lang="en">
<%-    include('modules/head') %>


<body>
    <div class="wrapper">
        <%-    include('modules/header') %>


        <main class="main">
            <%-    include('modules/background') %>
            <div class="posts">

                <div class="post post--editable">
                    <h3 class="post__title ">
                        <div>
                            <a href="post.php?id=17">
                                <span>
                                    &lt;h1&gt;123123123&lt;/h1&gt;
                                </span>
                            </a>
                        </div>
                        <div>
                            <span class="time">2020-09-05 14:48:21</span>
                            <a href="edit.php?id=17">
                                <span class="post__btn">
                                    編輯
                                </span>
                            </a>
                            <a href="handle_delete.php?id=17">
                                <span class="post__btn">
                                    刪除
                                </span>
                            </a>
                        </div>
                    </h3>
                </div>
            </div>
        </main>
        <footer class="footer">Copyright © 2020 Who's Blog All Rights Reserved.</footer>
    </div>
</body>

</html>